#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

# See `~/src/Firmware/px4fmu_common/init.d-posix/rcS`

# On `if` `then`:
# https://robots.thoughtbot.com/the-unix-shells-humble-if#negation-true-and-false

# On parameter expansion:
# https://unix.stackexchange.com/a/122848

IS_DAMAGED=${PX4_IS_DAMAGED:=true}
USE_EXTERNAL_VISION=${PX4_USE_EXTERNAL_VISION:=true}
USE_GPS=${PX4_USE_GPS:=false}
USE_SIMULINK_WRAPPER=${PX4_USE_SIMULINK_WRAPPER:=true}
ATT_RATE_MAX=${PX4_ATT_RATE_MAX:=500} # keep in sync with `simulink_model/init.m`
LOGGER_ON_AT_START=${PX4_LOGGER_ON_AT_START:=false} # keep in sync with `simulink_model/init.m`


uorb start

if $LOGGER_ON_AT_START; then
	logger start -b 200 -e -t -r 0 -p rate_control_input
else
	logger start -b 200 -t -r 0 -p rate_control_input
fi

param select /home/root/parameters
if [ -f /home/root/parameters ]
then
	param load
fi

param set SDLOG_PROFILE 3

if $IS_DAMAGED; then
	param set SYS_HAS_MAG 0
	param set SYS_HAS_BARO 0
fi

if $USE_EXTERNAL_VISION; then
	param set EKF2_AID_MASK 24 # vision position/yaw
	param set EKF2_HGT_MODE 3 # vision
	param set EKF2_MAG_TYPE 4 # mc custom

	param set EKF2_EV_DELAY 10
	# param set EKF2_EVP_NOISE 0.01

	param set EKF2_ACC_B_NOISE 0.01
	param set EKF2_ACC_B_NOISE 0.1
	param set EKF2_ACC_NOISE 2
fi

param set SYS_AUTOSTART 4013
param set MAV_BROADCAST 1
param set MAV_TYPE 2

param set MPC_XY_VEL_P 0.12
param set MPC_XY_P 1.3 
param set MPC_XY_VEL_D 0.006
param set MPC_XY_VEL_I 0.05
param set MPC_XY_VEL_MAX 8

param set MPC_Z_VEL_P 0.3
param set MPC_Z_VEL_I 0.1

if $USE_SIMULINK_WRAPPER; then
	param set MC_YAW_P 3.0
	param set MC_YAWRATE_P 0.05
	param set MC_YAWRATE_I 3.0

	param set MC_ROLLRATE_P 0.07
	param set MC_ROLLRATE_I 0.5
	param set MC_ROLLRATE_D 0.0
	param set MC_RR_INT_LIM 0.5

	param set MC_PITCHRATE_P 0.1
	param set MC_PITCHRATE_I 0.8
	param set MC_PITCHRATE_D 0.0
	param set MC_PR_INT_LIM 0.5
	
	# Rate P gains
	param set MC_ATT_ROLL_GAIN 16
	param set MC_ATT_PITCH_GN 16
	param set MC_ATT_YAW_GAIN 8

	# Rate control effectivenss
	param set MC_ATT_ROLL_EFF 170
	param set MC_ATT_PITCH_EFF 170
	param set MC_ATT_YAW_EFF -50
	param set MC_ATT_YAW_D_EFF 0.8
	param set MC_ATT_AZ_EFF 8

	# Rate actuator time constant
	param set MC_ATT_T_ACT 0.025
fi

param set SYS_MC_EST_GROUP 2

df_ms5607_wrapper start
df_mpu6050_wrapper start -R 8
df_ak8963_wrapper start -R 32
# Rangefinder disabled for now. It was found to cause delays of more than 10ms
# df_bebop_rangefinder_wrapper start
gps start -d /dev/ttyPA1
# bebop_flow start
sensors start
commander start
ekf2 start
dataman start
navigator start
land_detector start multicopter
mc_pos_control start

if $USE_SIMULINK_WRAPPER; then
	param set MC_ATT_RATE_MAX $ATT_RATE_MAX
	simulink_wrapper start
else
	mc_att_control start
fi

sleep 1

mavlink start -x -u 14556 -r 9000000
mavlink start -x -u 14557 -r 9000000 -m onboard -o 14540

sleep 1

mavlink stream -r 50 -s POSITION_TARGET_LOCAL_NED -u 14556
mavlink stream -r 50 -s LOCAL_POSITION_NED -u 14556
if $USE_EXTERNAL_VISION; then
	mavlink stream -r 50 -s GLOBAL_POSITION_INT -u 14556
fi
mavlink stream -r 50 -s ATTITUDE -u 14556
mavlink stream -r 50 -s ATTITUDE_QUATERNION -u 14556
mavlink stream -r 50 -s ATTITUDE_TARGET -u 14556
# mavlink stream -r 50 -s SERVO_OUTPUT_RAW_0 -u 14556 # doesn't seem to work on Bebop
mavlink stream -r 20 -s RC_CHANNELS -u 14556
mavlink stream -r 250 -s HIGHRES_IMU -u 14556

if $USE_EXTERNAL_VISION; then
	mavlink stream -r 50 -s VISION_POSITION_ESTIMATE -u 14556
fi

mavlink stream -r 50 -s ACTUATOR_CONTROL_TARGET0 -u 14556


df_bebop_bus_wrapper start
mavlink boot_complete
